{# Html-page layout #}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    {# mono-font Droid+Sans+Mono #}
    <link href="http://allfont.ru/allfont.css?fonts=droid-sans-mono" rel="stylesheet" type="text/css" />
    <style>
        body, button, input, select, textarea {
            font-family: 'Droid Sans Mono', Arial;
        }

        @media screen and (min-width: 1024px) {
            .container {
                max-width: 860px;
            }
        }

        @media screen and (min-width: 1408px) {
            .container {
                max-width: 860px;
            }
        }
    </style>

    {% block css %}
    {% endblock %}
</head>
<body>
{% block body %}

    <nav class="navbar" role="navigation" aria-label="main navigation">

        <div class="container">
            <div class="navbar-item has-background-link">
                <a href="/" class="has-text-white">Notes app</a>
            </div>
            <form action="/" method="get" class="navbar-item">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" name="q" value="{{ q }}" placeholder="[ Search note ]">
                    </div>
                </div>
            </form>


            <div class="navbar-end">

                <div class="navbar-item">
                    <a href="/note" class="button is-link is-light">[ New note ]</a>
                </div>
            </div>
        </div>
    </nav>


    <section class="section">
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <small>
                This simple <b>Notes app</b> demonstrate how to construct web apps with <a href="https://github.com/agorlov/lipid">Lipid php-framework</a>.<br>
                Tech stack: LXC, PHP, Lipid, Twig, Bulma.<br>
                by <a href="https://github.com/agorlov">Alexandr Gorlov</a> 2020
                </small>
            </p>
        </div>
    </footer>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% block javascript %}
{% endblock %}

</body>
</html>
