{# Note edit and view #}
{% extends 'layout.twig' %}

{% block container %}

Заметки > Новая

<form method="POST" action="">

    {%  if errorMsg %}
        <div class="notification is-warning is-light">
            <button class="delete"></button>
            {{ errorMsg }}
        </div>
    {% endif %}

    <div class="field">
        <div class="control">
            <input type="text" name="title" value="{{ title }}" placeholder="Заголовок заметки" class="input">
        </div>
    </div>


    <div class="field">
        <div class="control">
            <textarea name="text" class="textarea">{{ text }}</textarea>
        </div>
    </div>

    <input type="submit" name="Сохранить" class="button is-primary">
</form>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
        });
    });
});
</script>
{% endblock %}